@font-face {
  font-family: 'Sanchez-Italic';
  src: url('../../assets/fonts/Sanchez-Italic.ttf');
}

@font-face {
  font-family: 'Sanchez-Regular';
  src: url('../../assets/fonts/Sanchez-Regular.ttf');
}

@font-face {
  font-family: 'Teko-Bold';
  src: url('../../assets/fonts/Teko-Bold.ttf');
}

@font-face {
  font-family: 'Teko-Light';
  src: url('../../assets/fonts/Teko-Light.ttf');
}

@font-face {
  font-family: 'Teko-Medium';
  src: url('../../assets/fonts/Teko-Medium.ttf');
}

@font-face {
  font-family: 'Teko-SemiBold';
  src: url('../../assets/fonts/Teko-SemiBold.ttf');
}

@font-face {
  font-family: 'Teko-Regular';
  src: url('../../assets/fonts/Teko-Regular.ttf');
}

@font-face {
  font-family: 'Im-fell-english-roman';
  src: url('../../assets/fonts/im-fell-english-roman.ttf');
}



