.single {
    .entry-content {
        font-family: $font-Sanchez-Reg;
        font-size: $font-size-p;
        line-height: 24px;
    }
    .entry-title {
        font-family: $font-Teko-Reg;
    }
}
